

    <Navbar>
        <nav class="navbar navbar-expand-sm navbar-light bg-warning">
            <a class="navbar-brand" href="{% url 'MesTelephones' %}">Telephones </a>
            <div class="collapse navbar-collapse">   
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'MesTelephones' %}">Mes Telephones</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'types' %}">Types</a>
                </li>                   
               
              </ul>
              
            </div>
          </nav>

    </Navbar>